# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor crap
*~

# binary

basename
cat
cksum
dirname
echo
false
head
logname
mkfifo
pwd
sleep
touch
true
tty
uname
